<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- FQDN 사용할 DAO의 클래스명을 풀패키지명으로 작성 -->
<mapper namespace="com.jh.app.board.notice.NoticeMapper">
	<!-- 쿼리문 부품 -->
	<sql id="search">
		WHERE
		<choose>
			<when test="kind=='v2'">BOARD_CONTENTS</when>
			<when test="kind=='v3'">BOARD_WRITER</when>
			<otherwise>BOARD_TITLE</otherwise>
		</choose>

		LIKE '%'||#{search}||'%'
	</sql>

	<select id="getCount" resultType="Long" parameterType="Pager">
		SELECT COUNT(BOARD_NUM) FROM TB_NOTICE
		<include refid="search"></include>
	</select>

	<!-- list -->
	<select id="list" resultType="NoticeDTO" parameterType="Pager">

		SELECT * FROM
		(
		SELECT ROWNUM R, T.* FROM
		(
		SELECT * FROM TB_NOTICE
		<include refid="search"></include>
		ORDER BY BOARD_NUM DESC
		) T
		)
		WHERE R BETWEEN #{first} AND #{last}
	</select>

	<select id="detail" resultType="noticeDTO"
		parameterType="noticeDTO">SELECT * FROM TB_NOTICE
		WHERE BOARD_NUM=#{boardNum}
	</select>

	<!-- create -->
	<insert id="create" parameterType="NoticeDTO">
		INSERT INTO TB_NOTICE
		VALUES (
		BOARD_SEQ.NEXTVAL,
		#{boardTitle},
		#{boardContents},
		#{boardWriter},
		sysdate,
		0)
	</insert>



</mapper>